body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-size: 36px;  /* Tamanho aumentado dos ícones */
}

.social-icons a:hover {
    color: #007bff;
}

.social-icons i {
    font-size: 36px;  /* Tamanho aumentado dos ícones */
}

.image-container {
    margin-top: 20px;
}

.image-container img {
    width: 50%;  /* Reduzindo o tamanho da imagem para 50% da largura do contêiner */
    height: auto;
    border: 2px solid #000;
}

.progress-container {
    margin-top: 20px;
    width: 80%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    width: 10%;
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 5px;
}
